/* Global variables */

:root {
    --spacer-1: 8px;
    --spacer-2: 16px;
    --spacer-3: 24px;
    --spacer-4: 32px;
    --spacer-5: 48px;
    --spacer-6: 64px;
    --spacer-7: 80px;
    --spacer-8: 96px;
    --spacer-9: 120px;
    --spacer-10: 160px;
    --spacer-11: 60vh;
    --spacer-11-mobile: 35vh;
    --gutter: 4rem;
    --gutter-mobile: 2rem;
}

/* spacers */

.spacer1 { height: var(--spacer-1); }
.spacer2 { height: var(--spacer-2); }
.spacer3 { height: var(--spacer-3); }
.spacer4 { height: var(--spacer-4); }
.spacer5 { height: var(--spacer-5); }
.spacer6 { height: var(--spacer-6); }
.spacer7 { height: var(--spacer-7); }
.spacer8 { height: var(--spacer-8); }
.spacer9 { height: var(--spacer-9); }
.spacer10 { height: var(--spacer-10); }
.spacer11 { height: var(--spacer-11); }

@media(max-width: 767px) {
    .spacer11 {
        height: var(--spacer-11-mobile);
    }
}

/* Tag styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bs-dark);
}

main {
    padding-left: 10%;
    padding-right: 10%;
    display: block;
}

/* Font */

h1, h2, h3, h4, h5, h6 {
    color: var(--bs-white);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p, li, label{
    color: var(--bs-gray-500)
}

.highlight {
    color: var(--bs-white);
}

a {
    color: var(--bs-yellow);
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: var(--bs-red);
}

/* mobile font size */

@media (max-width: 767px) {
    html {
        font-size: 1.1rem;
    }
}

/* images */

img {
    border-radius: 1rem;
    transition: 1s;
}

.bright-image {
    opacity: 0.9;
}
  

/* navigation bar */

.navbar {
    padding-left: 2rem;
}

@media (max-width: 767px) {
    .navbar {
        padding-left: 8%;
        padding-right: 8%;
    }
}

/* title screen */
#title-screen {
    background-image: url("../assets/background0.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: .75s;
    image-rendering: pixelated;
}

#main-title {
    display: block;
    text-align: center;
    padding-top: 1rem;
    color: var(--bs-dark);
    background-color: var(--bs-gray-100);
}

#eyebrow {
    justify-content: center;
    width: max-content;
    margin: 0 auto;
}

#eyebrow p {
    text-align: center;
    margin-bottom: 0.30rem;
    color: var(--bs-dark);
    overflow-wrap: break-word;
    position: relative;
}

#eyebrow p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var(--bs-dark);
}

.subtitle {
    text-align: center;
}

/* socials */
.socials {
    padding: 0;
    width: 100%;
    display: flex;
    gap: var(--spacer-3);
    justify-content: unset;
    list-style-type: none;
}

.socials ul li {
    display: inline;
    margin: 0 4%;
}

.socials a { 
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    align-items: center;
}

.link-icon {
    margin-block-start: 0.5rem;
    background: var(--bs-yellow);
    color: var(--bs-dark);  
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

@media(max-width: 500px) {
    .link-icon {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}

.link-icon:hover {
    background: var(--bs-red);
}

.link-icon-text {
    font-weight: 900;
    font-size: medium;
    font-style: normal;
}

/* containers */

.blockquote-footer {
    margin-top: 0;
}

.flex-container {
    display: flex;
    width: 100%;
    gap: var(--gutter);
}

.overlap-container {
    margin-top: -2px;
}

@media(max-width: 767px) {
    .flex-container {
        flex-direction: column;
    }
    .single-column {
        gap: 0;
    }
}

@media(max-width: 1279px) {
    .nested-flex-container {
        flex-direction: column;
    }
}

.column1 {
    flex: 1;
}

.column2 {
    flex: 2;
}

/* https://uxdesign.cc/creating-horizontal-scrolling-containers-the-right-way-css-grid-c256f64fc585 */

.scroll-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    align-content: start;
    width: 100%;
}

.scroll-container > * {
    grid-column: 2 / -2;
}

.scroll-container > .full {
    grid-column: 1 / -1;
}

.scroll-container .item {
    list-style-type: none;
    width: 100%;
}

.hs {
    display: grid;
    gap: var(--gutter);
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 0;
    cursor: grab;
}

#scroll-skills {
    grid-template-columns: repeat(4, calc(40% - 40px));
}

#scroll-images {
    grid-template-columns: repeat(5, calc(40% - 40px));
    padding-bottom: 1rem;
}

.hs:active {
    cursor: grabbing;
}

@media(width < 767px) {
    #scroll-skills {
        grid-gap: var(--gutter-mobile);
        grid-template-columns: repeat(4, calc(80%));
    }

    #scroll-images {
        gap: var(--gutter-mobile);
        grid-template-columns: repeat(5, calc(70% - 40px));
    }
}

/* divisors */

hr {
    display: block;
    height: 2px;
    width: 100%;
    color: var(--bs-white);
    opacity: 0.5;
}

.section-division {
    background-image: url("../assets/homepage_divisor.png"), linear-gradient(0deg, transparent 40vw, #f8f9fa 0);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    box-sizing: border-box;
    image-rendering: pixelated;
    padding-bottom: 20vh;
    padding-top: 96px;
}

.rotate {
    transform: rotate(180deg);
    padding-top: 0px;
}

.negate-margin {
    margin-left: -12%;
    margin-right: -12%;
}

.section-division h1, .section-division h2, .section-division h3, .section-division h4, .section-division h5, .section-division h6, .section-division p {
    color: var(--bs-dark);
}

.section-division .flex-container {
    padding-left: 10%;
    padding-right: 10%;
}

@media (min-width: 1024px) {
    .section-division {
        padding-bottom: 25%;
    }
}

/* image grids */

.irregular-image-grid {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    gap: 10px;
    height: auto;
}

.irregular-image-grid .grid-item {
    width: 100%;
    height: auto;
}

@media(max-width: 767px) {
    .irregular-image-grid {
        display: block;
    }

    .irregular-image-grid .grid-item {
        margin-bottom: var(--gutter);
    }
}

.irregular-image-grid .item1 { grid-column: 15 / 24; grid-row: 1;}
.irregular-image-grid .item2 { grid-column: 7 / 13; grid-row: 3; margin-top: -18rem;}
.irregular-image-grid .item3 { grid-column: 1 / 9; grid-row: 2; margin-top: -18rem; z-index: 1;}
.irregular-image-grid .item4 { grid-column: 15 / 21; grid-row: 2;}

.irregular-image-grid .item3 p {
    padding-right: 30%;
}


@media(max-width: 767px) {
    .irregular-image-grid .item2 {
        margin-top: 0;
        margin-left: -10%;
    }

    .irregular-image-grid .item3 {
        margin-top: 0;
        margin-left: 10%;
    }

    .irregular-image-grid .item3 image {
        max-height: 50vh;
    }

    .irregular-image-grid .item3 p {
        padding: 0;
        text-align: right;
    }
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 2/1;
}

.image-grid .grid-item {
    border-style: solid;
    border-width: 5px;
    border-color: var(--bs-dark);
}

@media(max-width: 767px) {
    .image-grid {
        display: block;
    }

    .image-grid .grid-item {
        padding-bottom: 1rem;
    }
}

.image-grid .grid-item img {
    border-radius: 0px;
    height: 100%;
}

.image-grid .item1 {
    grid-column: 1 / 3;
}

.image-grid .item2 {
    grid-column: 3;
    grid-row: 1 / 3;
}

/* footer */

.page-footer {
    background-color: #f8f9fa;
}

/* center elements */

.center {
    justify-content: center;
    width: max-content;
    margin: 0 auto;
}

@media(max-width: 767px) {
    .center-mobile {
        justify-content: center;
        width: max-content;
        margin: 0 auto;
    }
}

/* Timeline dot  */

.timeline {
    border-left: 2px solid orange;
    padding-left: 2rem;
}

.project-title {
    position: relative;
}

.project-title::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: orange;
    border-radius: 999px;
    left: -40px;
    bottom: 5px;
    border: 3px solid orange;
}

@media (max-width: 767px) {
    .project-title::before {
        left: -50px;
    }
}

/* Project tags */

.tag-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0; margin: 0;
}

.tag-list li { list-style-type: none; }

.tag-list li {
    display: inline-flex;
    align-items: center;
    color: var(--bs-gray-900);
    background: var(--bs-orange);
    text-decoration: none;
    padding: 0 1rem;
    height: 2rem;
    margin-inline-end: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
}

/* filter buttons */

.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0; margin: 0;
}

.button-list li { list-style-type: none; }

.button-list button {
    display: inline-flex;
    align-items: center;
    color: var(--bs-gray-900);
    background: var(--bs-orange);
    transition-duration: 0.4s;
    padding: 0 1rem;
    height: 2rem;
    margin-inline-end: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    border-style: none;
    font-family: sans-serif;
    font-weight: 500;

}

.button-list button:hover, button:active {
    background-color: var(--bs-red);
    color: white;
}

/* Overrides button-list button */
.button-pressed {
    background-color: var(--bs-red) !important;
    color: white !important;
}

/* fade in and out animations */
.fade-in-up-on-scroll, .fade-in-down-on-scroll, .fade-in-left-on-scroll, .fade-in-right-on-scroll {
    opacity: 0;
}

@keyframes fadeInUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .fade-in-up {
    animation: 1s both fadeInUp;
  }

@keyframes fadeInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.fade-in-down {
    animation: 1s both fadeInDown;
}

/* fade from right might produce undesired overflow */
@keyframes fadeInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.fade-in-right {
    animation: 1s both fadeInRight;
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.fade-in-left {
    animation: 1s both fadeInLeft;
}

/* disable fade animations */

@media (prefers-reduced-motion) {
    .fade-in-up-on-scroll, .fade-in-down-on-scroll, .fade-in-left-on-scroll, .fade-in-right-on-scroll {
        opacity: 1;
    }

    .fade-in-down, .fade-in-up, .fade-in-left, .fade-in-right {
        animation: none;
    }
}